name: hours_control
description: "Employees hours control"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.5.3

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  google_fonts: ^6.2.1
  flutter_svg: ^2.0.10+1
  get_it: ^8.0.0
  mobx: ^2.3.3+2
  mobx_codegen: ^2.6.1
  flutter_mobx: ^2.2.1+1
  http: ^1.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^4.0.0
  build_runner: ^2.4.13

flutter:
  uses-material-design: true

  assets:
    - assets/icons/
    - assets/images/
